<a href="https://colab.research.google.com/github/U-Kyung13/coursera/blob/main/Machine%20Learning/ex1/ex1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Programming Exercising 1: Linear Regression

## 1. Simple Python function
> ### 1.1 warmUpexercise
- practice with Python syntax
- return a 5x5 identity matrix

In [13]:
import numpy as np

# 방법1
A1 = np.identity(5, dtype=int)

A1

array([[1, 0, 0, 0, 0],
       [0, 1, 0, 0, 0],
       [0, 0, 1, 0, 0],
       [0, 0, 0, 1, 0],
       [0, 0, 0, 0, 1]])

In [14]:
# 방법2
A2 = np.eye(N=5, M=5, k=0, dtype=int)
# N x M 행렬 
# k: identity matrix 시작할 열

A2

array([[1, 0, 0, 0, 0],
       [0, 1, 0, 0, 0],
       [0, 0, 1, 0, 0],
       [0, 0, 0, 1, 0],
       [0, 0, 0, 0, 1]])

## 2. Linear regression with one variable
Linear regression with one variable to predict profits for a food truck. 

You have data for profits and populations from the cities. 

You would like to use this data to help you select which city to expand to next.
  

> ### 2.1 Plotting the Data
- use a scatter plot to visualize the data, since it has only two properties to plot (profit and population)
- The first column is the population of a city and the second column is
the profit of a food truck in that city.

In [23]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [31]:
import pandas as pd

filename = '/content/drive/MyDrive/Colab Notebooks/Coursera-Machine Learning/data/ex1data1.txt'
ex1data1 = pd.read_csv(filename, header=None, names=['population', 'profit'])

In [32]:
ex1data1.head(10)

   population   profit
0      6.1101  17.5920
1      5.5277   9.1302
2      8.5186  13.6620
3      7.0032  11.8540
4      5.8598   6.8233
5      8.3829  11.8860
6      7.4764   4.3483
7      8.5781  12.0000
8      6.4862   6.5987
9      5.0546   3.8166

In [34]:
ex1data1.shape

(97, 2)




> ### 2.2 Gradient Descent
- 


> ### 2.3 Debugging
- 

> ### 2.4 Visualizing J(θ)
-